        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <div class="navbar-header">
                    <a href="__MODULE__/Index/index" class="navbar-brand">
                        <img src="__PUBLIC__/Admin/picture/logo.png" alt="Nifty Logo" class="brand-icon">
                        <!-- <load href="/Public/picture/logo.png" /> -->
                        <div class="brand-title">
                            <span class="brand-text">海湾管理系统</span>
                        </div>
                    </a>
                </div>
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="demo-pli-view-list"></i>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-top-links pull-right">
                        <li id="dropdown-user" class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle text-right">
                                <span class="pull-right">
                                    <i class="demo-pli-male ic-user"></i>
                                </span>
                                <div class="username hidden-xs">Admin</div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right panel-default">
                                <ul class="head-list">
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-information icon-lg icon-fw"></i> 技术支持
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-male icon-lg icon-fw"></i> 联系我们
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="demo-pli-mail icon-lg icon-fw"></i> 问题反馈
                                        </a>
                                    </li>
                                </ul>
                                <div class="pad-all text-right">
                                    <a href="__MODULE__/Index/logout" class="btn btn-primary">
                                        <i class="demo-pli-unlock"></i> 安全退出
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!--<li></li>-->
                    </ul>
                </div>
            </div>
        </header>
        <div id="container" class="effect aside-float aside-bright mainnav-lg">